{% extends 'main/base.html' %}

{% block content %}
<aside class="left-sidebar">
    {% include 'main/sidebar_left.html' %}
</aside>

<main id="feedPage">
    <div class="main-feed">
        

        <!-- Conteneur des posts -->
        <div class="posts-container" id="postsContainer">
            <div class="empty-state">
                <div class="empty-icon">📱</div>
                <div class="empty-title">Aucune publication</div>
                <div class="empty-subtitle">Ajoutez des amis pour voir leurs posts</div>
            </div>
        </div>
    </div>
</main>

<aside class="right-sidebar">
    {% include 'main/sidebar_right.html' %}
</aside>

{% endblock %}
