{% extends 'social/base.html' %}

{% block content %}
<div id="friendsPage" class="friends-page active">

    <div class="page-header">
        <div class="page-title">👥 Mes Amis</div>

        <div class="tabs-nav">
            <button class="tab-btn active" data-tab="myFriends">Mes Amis</button>
            <button class="tab-btn" data-tab="requests">Demandes</button>
            <button class="tab-btn" data-tab="suggestions">Découvrir</button>
        </div>
    </div>

    <div class="tab-content active" id="myFriendsTab">
        <div id="myFriendsList"></div>
    </div>

    <div class="tab-content" id="requestsTab">
        <div id="requestsList"></div>
    </div>

    <div class="tab-content" id="suggestionsTab">
        <div id="suggestionsList"></div>
    </div>
</div>
{% endblock %}
