{% if user.is_authenticated %}
<div class="profile-card">
    <div class="profile-avatar" id="profileAvatar">{{ user.username|first|upper }}
</div>
    <div class="profile-name" id="profileName">{{ user.username }}</div>
    <div class="profile-bio" id="profileBio">{{ user.bio }}</div>

    <div class="profile-stats">
        <div class="stat-item">
            <div class="stat-number" id="statsPostsNum">0</div>
            <div class="stat-text">Publications</div>
        </div>
        <div class="stat-item">
            <div class="stat-number" id="statsFriendsNum">0</div>
            <div class="stat-text">Amis</div>
        </div>
    </div>
</div>

<div class="menu-card">
    <div class="menu-title">⚙️ Paramètres</div>
    <div class="menu-list">
        <div class="menu-option" id="editProfileBtn"><a href="{% url 'socialmedia:edit_profile' %}" >Modifier le profil</a></div>
        <div class="menu-option" id="editProfileBtn">
        <form method="post" action="{% url 'socialmedia:logout_user' %}">
    {% csrf_token %}
    <button type="submit">Se déconnecter</button></div>
</form>
    </div>
</div>
{% endif %}